* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgba(128, 128, 128, 0.192);
  overflow: auto;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100vw;
  height: 100vh;

  .accounts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    height: 440px;
    padding: 40px 30px;
    background-color: #fff;
    border-radius: 9px;

    .scroll {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-height: 300px;
      min-width: 220px;
      padding: 10px 0px;
      overflow-y: auto;
      overflow-x: hidden;
      gap: 12px;
    }

    .accounts::-webkit-scrollbar {
      width: 10px; 
    }

    .account {
      padding: 15px 45px;
      color: #444;
      font-weight: bold;
      font-size: 24px;
      background-color: rgba(245, 200, 51, 0.308);
      border-radius: 5px;
      cursor: pointer;
    }

    button {
      font-size: 16px;
      width: 90px;
      box-sizing: content-box;
      background-color: rgb(37, 175, 37);
      cursor: pointer;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 15px 20px;
      margin-top: 10px;
    }
  }

  .account-data {
    background-color: #fff;
    border-radius: 9px;
    padding: 40px;
    height: 440px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    .balance {
      display: flex;
      justify-content: flex-end;
      font-size: 30px;
      color: #444;
      font-weight: bold;
    }

    .deposit {
      padding: 25px 35px;
      border-radius: 5px;
      background-image: linear-gradient(to top left, #39b385, #9be15d);
    }

    .withdraw {
      padding: 25px 35px;
      border-radius: 5px;
      background-image: linear-gradient(to top left, #e52a5a, #ff585f);
    }

    .deposit h4,
    .withdraw h4 {
      font-size: 18px;
      margin-bottom: 15px;
    }

    .deposit .cont,
    .withdraw .cont {
      display: flex;
      gap: 15px;

      .input {
        display: flex;
        flex-direction: column;

        input {
          background-color: rgb(255, 255, 255, 0.4);
          color: #333;
          width: 110px;
          padding: 8px;
          border-radius: 10px;
          font-size: 19px;
          outline: none;
          border: none;
        }

        span {
          text-align: center;
          margin-top: 7px;
          color: #333;
        }
      }
    }

    .deposit .apply,
    .withdraw .apply {
      button {
        border: none;
        padding: 10px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 16px;
        font-weight: bold;
        color: #333;
      }
    }
  }
}
